<div class="container-fluid d-flex align-items-center vh-100">
  <div class="mx-auto">
    <input class="btn btn-secondary btn-numeric" [(ngModel)]="valorInput" type="text" />
    <button class="btn btn-danger m-2" (click)="calcular()">Calcular</button>
    <button class="btn btn-primary m-2" (click)="limpiar()">Limpiar</button>
    <div class="text-center pt-3">
      <p>
        Multiplos de 3 [ <span class="text-success"> {{ result1 }} </span>]
      </p>
      <p>
        Multiplos de 5 [ <span class="text-danger">{{ result3 }}</span
        >]
      </p>
      <p>
        Multiplos de 7 [ <span class="text-primary">{{ result2 }}</span
        >]
      </p>
    </div>
  </div>
</div>
